﻿@{
    ViewBag.Title = "Home Page";
}
@model WebApp.ViewModels.MongoDBViewModels
<h3>Выберите файлик для загрузки</h3>
@using (Html.BeginForm("Download", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploadImage" /><br>
    <input type="submit" value="Загрузить" />
}
<ul>
    <li>
        @Html.ActionLink("Download", "Download", "Image")
        <p>Загрузить картинку для получения ссылки(Post)</p>
    </li>
    <li>
        @Html.ActionLink("Demo data", "MakeData", "MongoDB")
        <p>Добавить демо проект в базу</p>
    </li>
    <li>
        @Html.ActionLink("Delete all data", "DeleteData", "MongoDB")
        <p>Чистка базы</p>
    </li>
    <li>
        @Html.ActionLink("/Project", "Index", "Project")
        <p>
            Полный список проектов,
            Пустой get запрос
        </p>
        <ul>
            <li>
                @Html.ActionLink("/Project/{id}", "id", "Project")
                <p>
                    Проект по id
                </p>
                <ul>
                    <li>
                        <a href="/Project/id/comment">/Project/{id}/comment</a>
                        <p>Получить все коментарии к проекту</p>
                        <ul>
                            <li>
                                <a href="/Project/id/comment/id">/Project/{id}/comment/{id}</a>
                                <p>Удалить коментарий к проекту(HttpDelete)</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/project/id/comment">/Project/{id}/comment</a>
                        <p>Добавить коментарий к проекту(Post),в теле name и text</p>
                    </li>
                    <li>
                        <a href="/project/id/project">/project/{id}/project</a>
                        <p>Получить все подпроекты к проекта</p>                        
                    </li>
                    <li>
                        <a href="/project/id/project">/project/{id}/project</a>
                        <p>Добавить подпроект к проекту(Post), в теле name</p>
                    </li>
                    <li>
                        <a href="/project/id/image">/project/{id}/image</a>
                        <p>Получить все картинки из корня проекта</p>
                        <ul>
                            <li>
                                <a href="/Project/id/image/id">/Project/{id}/image/{id}</a>
                                <p>Удалить картинку проекта(HttpDelete)</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/project/id/image">/project/{id}/image</a>
                        <p>Добавить картинку в корень проекта(Post),в теле name и url </p>
                    </li>
                </ul>
            </li>
            <li>
                @Html.ActionLink("/Project/{id}", "id", "Project")
                <p>
                    Обновить проект id(Put), в теле name
                </p>
            </li>
<li>
                @Html.ActionLink("/Project/{id}", "id", "Project")
                <p>
                    Удалить проект по id(HttpDelete)
                </p>
            </li>
</ul>
    </li>
    <li>
        @Html.ActionLink("/Project", "Index", "Project")
        <p>Добавить проект(POST) в теле name</p>
    </li>
    <li>
        @Html.ActionLink("/Image", "Index", "Image")
        <p>
            Полный список картинок,
            Пустой get запрос
        </p>
        <ul>
            <li>
                @Html.ActionLink("/Image/{id}", "id", "Image")
                <p>
                    Картинка по id
                </p>
                <ul>
                    <li>
                        <a href="/image/id/comment">/Image/{id}/{version}}</a>
                        <p>Получить конкретную версию картинки</p>
                    </li>
                    <li>
                        <a href="/image/id/comment">/Image/{id}/comment</a>
                        <p>Получить все коментарии к картинке</p>
                        <ul>
                            <li>
                                <a href="/image/id/comment/id">/Image/{id}/comment/{id}</a>
                                <p>Удалить коментарий к картинке(HttpDelete)</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/image/id/comment">/Image/{id}/comment</a>
                        <p>Добавить коментарий к картинке(Post),в теле name и text</p>
                    </li>
                </ul>
            </li>
            <li>
                @Html.ActionLink("/Image/{id}", "id", "Image")
                <p>
                    Обновить картинку по id(Put), в теле url и name
                </p>
            </li>
                <!--<li>
            @Html.ActionLink("/Image/{id}", "id", "Image")
            <p>
                Удалить картинку по id(HttpDelete)
            </p>
        </li>-->
</ul>
    </li>
    <li>
        @Html.ActionLink("/Image", "Index", "Image")
        <p>Добавить картинку(POST) в теле name и url</p>
    </li>
    <li>
        @Html.ActionLink("/Comment", "Index", "Comment")
        <p>
            Полный список комментариев,
            Пустой get запрос
        </p>
        <ul>
            <li>
                @Html.ActionLink("/Comment/{id}", "id", "Comment")
                <p>
                    Комментарий по id
                </p>
            </li>
            <li>
                @Html.ActionLink("/Comment/{id}", "id", "Comment")
                <p>
                    Обновление комментария(Put), в теле name и text
                </p>
            </li>
            <!--<li>
                @Html.ActionLink("/Comment/{id}", "id", "Comment")
                <p>
                    Удалить комментарий по id(HttpDelete)
                </p>
            </li>-->
        </ul>
    </li>
    <li>
        @Html.ActionLink("/Comment", "Index", "Comment")
        <p>Добавить комментарий(POST) в теле name и text</p>
    </li>
    <li>
        <a href="https://github.com/ease-l/backend/tree/feautere/DB.Models/DB/Models">Вот репозиторий с реализациями классов, вы получаете классы без ObjectId</a>
    </li>
</ul>
